---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ogImage, ...props } = data;
const base = import.meta.env.BASE_URL.replace(/\/$/, "");

const imgSrc = ogImage
  ? typeof ogImage === "string"
    ? ogImage
    : ogImage.src
  : `${base}${getPath(id, filePath)}/index.png`;
---

<li class="my-6">
  <a
    href={`${base}${getPath(id, filePath)}`}
    class:list={[
      "group flex gap-4 items-start",
      "decoration-dashed underline-offset-4",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <img
      src={imgSrc}
      alt={title}
      class="w-36 h-[76px] object-cover rounded shrink-0 sm:w-44 sm:h-24"
      loading="lazy"
    />
    <div>
      <Heading
        class:list={[
          "text-lg font-medium text-accent group-hover:underline",
        ]}
        style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
      >
        {title}
      </Heading>
      <Datetime {...props} />
      <p>{description}</p>
    </div>
  </a>
</li>
